@font-face {
    src: url('../font/Louis George Cafe.ttf');
    font-family: 'louis';
}

:root {
    /* Colors */
    --main: #007EBB;
    --deep-main: #1B6387;
    --dark-main: #224354;
    --grey-main: #1F2C33;
    --grey: #293033;
    --pseudo-elements-color: var(--grey-main);

    /* Durations */
    --transition: 0.5s;
}

body {
    position: relative;
}

#top-page + * {
    margin-top: 10vh;
}

#top-page {
    display: flex;
    justify-content: space-between;

    min-width: 1300px;
    width: 80vw;
    height: 10vh;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    overflow-y: hidden;
    background-color: white;
}

#top-page, #top-page * {
    transition: var(--transition);
}

#top-page a {
    text-decoration: none;
    font: 1.3em 'louis', sans-serif;
}

#top-page .tool-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 900px;
    width: 70%;

    color: var(--grey);
}

#top-page .tool-bar .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 205px;

    transition: var(--transition);
}

#top-page .tool-bar .logo img {
    height: 50%;

    transition: var(--transition);
}

#top-page .tool-bar #tools {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 100%;
    width: 75%;
}

#top-page .tool-bar #tools a {
    position: relative;

    color: var(--dark-main);
}

#top-page .tool-bar #tools a::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-5px);

    width: 0;
    height: 2px;

    background-color: var(--pseudo-elements-color);

    transition: var(--transition);
}

#top-page .tool-bar #tools a:hover::before {
    width: 100%;
}

#top-page .tool-bar #tools a::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(5px);

    width: 0;
    height: 2px;

    background-color: var(--pseudo-elements-color);

    transition: var(--transition);
}

#top-page .tool-bar #tools a:hover::after {
    width: 100%;
}

#top-page hr {
    align-self: center;

    height: 50%;
    width: 1px;

    border: none;

    background-color: var(--dark-main);
}

#top-page .user-menu {
    display: none;
}

#top-page .account {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    min-width: 400px;
    width: 30%;
}

.button {
    padding: 10px 15px;

    border-radius: 50px;

    color: var(--deep-main);
    font-family: 'louis', sans-serif;
    text-decoration: none;

    box-shadow: 0 2px 4px grey;
}

.button.bold {
    border: solid var(--main) 2px;
}

.button.thin {
    position: relative;

    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.075);
}

.button.thin::after {
    content: '';

    width: 0;
    height: 100%;

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.05);
    transition: var(--transition);
}

.button.thin:hover::after {
    width: 100%;
}

@media screen and (max-width: 1350px) {
    #top-page {
        width: 950px;
        min-width: 5px;
        background-color: red;
    }
    
    #top-page .tool-bar .logo .logo-text {
        display: none;
    }

    #top-page .user-menu {
        width: 75px;
        height: 75px;

        display: block;
        border: none;
        align-self: center;
    }

    #top-page .account {
        width: 50vw;
        height: 100vh;

        position: fixed;
        right: 0;
        background-color: blue;
    }
}