{% extends 'base.html' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <h1>S'inscrire</h1>

    <form method="POST" style="display: flex; flex-direction: column; height: 50vh; width: 20vw;">
        <input name="username" type="text" placeholder="Pseudo" required>
        <input name="email" type="email" placeholder="Email" required>
        <input name="password" type="password" placeholder="Mot de passe" required>
        <input name="date_of_birth" type="date" placeholder="Date de naissance" required>
        <input type="submit" placeholder="S'inscrire">
    </form>
{% endblock %}