{% extends 'base.html' %}

{% block title %}Vos bambous{% endblock %}

{% block body %}

    {% if bamboos != [] %}
        <h1>Voici la liste de vos bambous !</h1>
        {% for bamboo in bamboos %}
            <a href="/app/bamboo/{{ bamboo.get_column('uuid') }}">{{ bamboo.get_column('name') }}</a>
        {% endfor %}
    {% else %}
        <p>Désolé, vous n'êtes présent sur aucun bambou.</p>
    {% endif %}

    <h2><a href="/app/bamboo/create">Créer mon propre bambou</a></h2>
{% endblock %}